<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/styles2.css">
    <title>Hawaiian Weather API</title>
</head>
<body>
    <div class="header">
        <h2 class="title">
            <a class="link" href="../../../">Hawaii Weather Report</a>
        </h2>
        <div class="menu-btn-box">
            <span class="menu-btn">
                <a class="link" href="/">Temperatures</a>
            </span>
        </div>
        <div class="menu-btn-box">
            <span class="menu-btn">
                <a class="link" href="./api/v2.0/stations">Stations</a>
            </span>
        </div>
        <div class="menu-btn-box">
            <span class="menu-btn">
                <a class="link" href="./api/v2.0/precipitation">Precipitation</a>
            </span>
        </div>
    </div>  

    <div class="text">
        <div class="card card1">
            <div class="card-header">
                <h2 class="card-header-text">The minimum, average, and maximum temperature of the date you select</h2>
            </div>
            <h5 class="dataType">Pick a date between 2010-01-01 and 2017-08-23</h5>
            <form action="./temp" method="POST">
                <div class="input1LabelBox">
                    <p class="input1Label">Pick a date:</p>
                </div>
                <input id="input1" type="date" name="testDate">
                <input class="submit" type="submit">
            </form>
        </div>
        <div class="card card2">
            <div class="card-header">
                <h2 class="card-header-text">Minimum, average, and maximum temperature for the date range you select</h2>
            </div>
            <h5 class="dataType">Pick a dates between 2010-01-01 and 2017-08-23</h5>
            <form action="./temps" method="POST">
                <div class="form2Inputs">
                    <div class="input2Box">
                        <p class="input2Label">Pick a start date:</p>
                        <input id="input2" type="date" name="startDate">
                    </div>
                    <div class="input3Box">
                        <p class="input3Label">Pick an end date:</p>
                        <input id="input3" type="date" name="endDate">
                    </div>
                </div>
                <input class="submit" type="submit">
            </form>            
        </div>
        <div class="card card3">
            <div class="card-header">
                <h2 class="card-header-text">Temperature for the most recent year on record at that station</h2>
            </div>
            <h5 class="dataType">Pick a weather station</h5>
            <form action="./tobs" method="POST">
                <div class="input4Box">
                    <select id="stationSelector" name="station">
                        <option value="USC00519397">WAIKIKI 717.2, HI US</option>
                        <option value="USC00513117">KANEOHE 838.1, HI US</option>
                        <option value="USC00514830">KUALOA RANCH HEADQUARTERS 886.9, HI US</option>
                        <option value="USC00517948">PEARL CITY, HI US</option>
                        <option value="USC00518838">UPPER WAHIAWA 874.3, HI US</option>
                        <option value="USC00519523">WAIMANALO EXPERIMENTAL FARM, HI US</option>
                        <option value="USC00519281">WAIHEE 837.5, HI US</option>
                        <option value="USC00511918">HONOLULU OBSERVATORY 702.2, HI US</option>
                        <option value="USC00516128">MANOA LYON ARBO 785.2, HI US</option>
                    </select>   
                </div>
                <input class="submit" type="submit">
            </form>
        </div>
    </div>
</body>
</html>